@import "tailwindcss";

@font-face {
  font-family: "Avenir";
  src: url("./src/fonts/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./src/fonts/Quicksand-Medium.ttf") format("truetype");
}
